---
import { getCollection } from "astro:content";
import "../styles/global.css";
import Footer from "./components/Footer.astro";
import Header from "../pages/components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "./components/BlogPost.astro";

const pageTitle = "Astro Blog";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Astro Blog">
  <p>Este es el blog de prueba para aprender a desarrollar con Astro</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
