---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../pages/components/Greeting.jsx";
---

<BaseLayout pageTitle="Inicio">
  <h2>Mi primera plantilla</h2>
  <Greeting client:visible messages={["Hola", "Que tal", "Saludos"]} />
</BaseLayout>
